@import "tailwindcss";

@theme {
  --color-bees-primary-yellow: #F2EC54;
  --color-bees-background: #FFFAF2;
  --color-bees-gray-700: #3F3F46;
  --color-bees-gray-800: #27272A;
}

body {
  @apply m-0;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFAF2;
}
